[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn stasis_am_server:server --bind 0.0.0.0:$PORT --workers 1 --threads 4 --timeout 300 --preload"
